*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
}

body {
  background-color: #518ee6;
}

.game-container {
  display: flex;
  justify-content: space-between;
}

main,
.player-section-one,
.player-section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
main {
  width: 75vw;
}

.game-name-heading {
  width: 100%;
  padding: 6vh 0 2.5vh 0;
  margin-bottom: 3vh;
  font-size: 2.5em;
  background: linear-gradient(#518ee6, #8ea34f, #809a31);
  box-shadow: 3px 3px 5px #373737;
}

.heading-info-wrapper {
  height: 4.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
  font-size: 1.7em;
}

.player-section-one,
.player-section-two {
  width: 12.5vw;
  height: 100vh;
  background: #e4e3d3;
}

.player-section-one,
.player-section-two {
  padding: 6vh 3vw 0 3vw;
}

.player-heading {
  font-size: 2em;
}

.player-section-one {
  padding-right: 3vw;
  z-index: 1;
  box-shadow: 3px 0 5px #373737;
}

.player-section-two {
  padding-left: 3vw;
  box-shadow: -3px 0 5px #373737;
}

.player-heading,
.classic-button {
  margin-bottom: 5vh;
}

.player-image {
  width: 11.5vw;
  margin-bottom: 3.5vh;
}

.win-counter {
  width: 100%;
  margin-bottom: 2vh;
  padding: 5px;
  font-size: 1.5em;
  border-radius: 5px;
  background: #8ea34f;
}

.classic-button,
.extra-button {
  width: 30%;
  border-radius: 5px;
  background-color: #E582A0;
  transition: all .2s ease;
}

.classic-button:hover,
.extra-button:hover {
  cursor: pointer;
  background-color: #EA9AB2;
  box-shadow: 4px 4px 5px #373737;
}

.switch-game {
  width: 100%;
  padding: 7px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background: #518ee6;
  transition: all .2s ease;
}

.switch-game:hover {
  cursor: pointer;
  background: #a1c7ff;
  box-shadow: 2.5px 2.5px 4px #373737;
}

ul,
.game-option-heading {
  padding: 5px;
}

li {
  list-style: none;
  padding: 5px;
}

.gameplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 3.5vh 0 3.5vh 0;
  border-top: solid 3px #fff;
  border-bottom: solid 3px #fff;
  background: #ffb1d7;
}

.game-fighter {
  width: 20%;
  margin: 0 2vw 0 2vw;
}

.player-image-small {
  width: 4vh;
}

.game-fighter-button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
  width: 0;
  height: 0;
}
