*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
}

body {
  background-color: #e4e3d3;
}

.game-container {
  display: flex;
  justify-content: space-between;
}

main,
.player-section-one,
.player-section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
main {
  width: 75vw;
}

.game-name-heading {
  margin: 6vh 0 2.5vh 0;
  padding: 4px;
  font-size: 2.5em;
  background-color: #C39BEB;
  box-shadow: 4px 4px #000;
}

.heading-info-wrapper {
  display: flex;
}

.heading-info-wrapper {
  margin-bottom: 12vh;
  font-size: 1.7em;
}

.player-section-one,
.player-section-two {
  width: 12.5vw;
  height: 100vh;
  background: linear-gradient(#C39BEB 60%, #E0CCF5);
}

.player-section-one,
.player-section-two {
  padding: 6vh 3vw 0 3vw;
}

.player-heading {
  font-size: 2em;
}

.player-section-one {
  padding-right: 3vw;
  border-right: solid 3px #000;
}

.player-section-two {
  padding-left: 3vw;
  border-left: solid 3px #000;
}

.player-heading,
.classic-button {
  margin-bottom: 5vh;
}

.player-image {
  width: 11.5vw;
  margin-bottom: 3.5vh;
}

.win-counter {
  margin-bottom: 2vh;
  font-size: 1.5em;
}

.classic-button,
.extra-button {
  width: 30%;
  background-color: #E582A0;
  transition: all .2s ease;
}

.classic-button:hover,
.extra-button:hover {
  cursor: pointer;
  background-color: #EA9AB2;
  box-shadow: 4px 4px #000;
}

ul,
.game-option-heading {
  padding: 5px;
}

li {
  list-style: none;
  padding: 5px;
}

.gameplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 5vh 0 5vh 0;
  border-top: solid 3px #000;
  border-bottom: solid 3px #000;
  background: #EA9AB2;
}

.game-fighter {
  width: 20%;
  margin: 0 2vw 0 2vw;
}

.player-image-small {
  width: 6vw;
}

.game-fighter-button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
  width: 0;
  height: 0;
}
